<a href="https://colab.research.google.com/github/shreyassarda7/Alpha_Research/blob/main/ETH_Multiple_Lin_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
# Description: Predict the price of ETH using ML Model

In [70]:
# Importing libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from pandas_datareader import data as web
import datetime

In [71]:
# Import Data
stock = 'ETH-USD'
num_days = 500
start_date = (datetime.datetime.now() - datetime.timedelta(days = num_days)).strftime("%m-%d-%Y")
df = web.DataReader(stock, data_source = 'yahoo', start = start_date)
df.dropna(how = 'any', inplace = True)
df

                   High          Low  ...        Volume    Adj Close
Date                                  ...
2020-02-06   214.597717   201.904068  ...  1.642559e+10   212.339081
2020-02-07   223.140930   212.304199  ...  1.667344e+10   222.726059
2020-02-08   226.588089   215.386292  ...  1.674120e+10   223.146515
2020-02-09   229.864243   222.982239  ...  1.503136e+10   228.578568
2020-02-10   229.184616   218.080048  ...  1.621001e+10   223.522705
...                 ...          ...  ...           ...          ...
2021-06-15  2554.628906  2354.350586  ...  2.410193e+10  2367.663574
2021-06-16  2457.175537  2312.301514  ...  2.187163e+10  2372.001953
2021-06-17  2377.195068  2147.308350  ...  2.275282e+10  2231.733154
2021-06-18  2278.415039  2168.885010  ...  1.876585e+10  2178.499023
2021-06-20  2216.590332  2151.189453  ...  1.814193e+10  2200.187744

[497 rows x 6 columns]

In [72]:
# Create variable to predict stock value in future
projection_days = 15
# Create prediction column in df
df['Prediction'] = df[['Adj Close']].shift(-projection_days)
df

                   High          Low  ...    Adj Close  Prediction
Date                                  ...
2020-02-06   214.597717   201.904068  ...   212.339081  265.600616
2020-02-07   223.140930   212.304199  ...   222.726059  262.331726
2020-02-08   226.588089   215.386292  ...   223.146515  273.754150
2020-02-09   229.864243   222.982239  ...   228.578568  265.216431
2020-02-10   229.184616   218.080048  ...   223.522705  247.817596
...                 ...          ...  ...          ...         ...
2021-06-15  2554.628906  2354.350586  ...  2367.663574         NaN
2021-06-16  2457.175537  2312.301514  ...  2372.001953         NaN
2021-06-17  2377.195068  2147.308350  ...  2231.733154         NaN
2021-06-18  2278.415039  2168.885010  ...  2178.499023         NaN
2021-06-20  2216.590332  2151.189453  ...  2200.187744         NaN

[497 rows x 7 columns]

In [73]:
# Train and test data loading
X = np.array(df.iloc[:-projection_days ,[0, 1, 2, 3, 4]])
y = np.array(df.iloc[:-projection_days ,[6]])

In [74]:
# Train Test Split in 85/15 ratio
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.15)

In [75]:
# Create and Train the model
Lin_reg = LinearRegression()
# Fit the model
Lin_reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [76]:
# Test model
Lin_reg_confidence = Lin_reg.score(x_test, y_test)
print("Linear Regresion Confidence is " + str(round(Lin_reg_confidence, 2)))

Linear Regresion Confidence is 0.8

In [77]:
# Project the next 'projection_days' values in df['Prediction']
df.iloc[-projection_days: ,[6]] = Lin_reg.predict(df.iloc[-projection_days: ,[0, 1, 2, 3, 4]])
print("Predictions for next 15 days")
df.iloc[-projection_days:,[6]]

Predictions for next 15 days

             Prediction
Date
2021-06-05  2758.669930
2021-06-06  2497.376032
2021-06-07  2764.116049
2021-06-08  2760.669028
2021-06-09  2561.705194
2021-06-10  2411.020900
2021-06-11  2432.643566
2021-06-12  2555.196400
2021-06-13  2572.376193
2021-06-14  2734.526383
2021-06-15  2411.994822
2021-06-16  2385.472773
2021-06-17  2341.143878
2021-06-18  2193.573993
2021-06-20  2266.891208